{% extends "base.html" %}

{% block extra_title %}
    {{ object.event.title }} - {{ object.name }}
{% endblock extra_title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ object.event.title }}</h2>
            <h3 class="card-subtitle">{{ object.name }}</h3>
            <p>Description: {{ object.description_long }}</p>
            <p>Sale start: {{ object.sale_start }}</p>
            <p>Sale end: {{ object.sale_end }}</p>
            <p>Quota: {{ object.quota }}</p>
            <p>Price, net: {{ object.price_net }}</p>
            <p>Tax: {{ object.tax_percent }} %</p>
            <p>Tax amount: {{ object.tax_amount }}</p>
            <p>Price: {{ object.price }}</p>
            <div class="card-footer">
                <a href="{% url "events:detail" object.event.slug %}" class="btn btn-nichetix">
                    Event Details
                </a>
                <a href="{% url "tickets:ticket-type-update" slug=object.slug event_slug=object.event.slug %}"
                   class="btn btn-nichetix">
                    Update
                </a>
                <a href="{% url "tickets:ticket-type-delete" slug=object.slug event_slug=object.event.slug %}"
                   class="btn btn-nichetix-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
