{% extends "base.html" %}

{% load static %}

{% block extra_css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock extra_js %}

{% block extra_title %}
    Create Ticket Type
{% endblock extra_title %}

{% block content %}

  <h2>Update Ticket Type</h2>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit">Update</button>
            </div>
        </div>
    </form>

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static "js/datetimepicker-init.js" %}" type="text/javascript"></script>
{% endblock postloadjs %}
