{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load cart_tools %}

{% block extra_title %}
    Checkout
{% endblock extra_title%}

{% block extra_js %}
    <script defer src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script defer src="https://js.stripe.com/v3/"></script>
{% endblock extra_js %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Order Summary ({{ ticket_count }} Tickets)
            </h2>

        {% if ticket_count == 0 %}
            <p>Your cart is empty - nothing to checkout here.</p>

        {% else %}

            <form action="{% url "checkout:checkout" %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        Invoice Details
                    </legend>
                    {% for cart_item in cart_items %}
                        <div>
                            <p>
                                Name: {{ cart_item.ticket_type.name }}
                            </p>
                            <p>
                                Amount: {{ cart_item.quantity }}
                            </p>
                            <p>
                                Price, net (pp): {{ cart_item.ticket_type.price_net }}
                            </p>
                            <p>
                                Tax (pp): {{ cart_item.ticket_type.tax_amount }}
                            </p>
                            <p>
                                Price, total: {{ cart_item.ticket_type.price | calc_subtotal:cart_item.quantity }}
                            </p>
                        </div>
                    {% endfor %}
                    <div>
                        <p>
                            Total: € {{ total }}
                        </p>
                    </div>

                    {{ form | crispy }}
                    <div>
                        {% if user.is_authenticated %}
                            <label>
                                <input type="checkbox" id="id-save-info" name="save-info">
                                Save delivery information to my profile
                            </label>
                        {% else %}
                            <p>
                                <a href="{% url "account_signup" %}">
                                    Create an Account
                                </a>
                                or
                                <a href="{% url "account_login" %}">
                                    Login
                                </a>
                                to save this information
                            <p>
                        {% endif %}

                    </div>
                </fieldset>

                    <div class="card-footer text-center">
                        <button type="submit" id="checkout-button" class="btn btn-lg btn-nichetix">
                                Checkout
                        </button>
                    </div>
            </form>

        {% endif %}
    </div>
    </div>

{% endblock content %}

{% block postloadjs %}
{% endblock postloadjs %}
