<footer class="text-center bg-light">
    Project for educational purposes
    <h3>Find me on</h3>
    <ul class="social-link-list list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/apometricsTK/" target="_blank" rel="noreferrer">
                <i class="fab fa-github-square" aria-hidden="true"></i>
                <span class="sr-only">Link to GitHub</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/tobias-kast/" target="_blank" rel="noreferrer">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
                <span class="sr-only">Link to LinkedIn</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.xing.com/profile/Tobias_Kast5/" target="_blank" rel="noreferrer">
                <i class="fab fa-xing-square" aria-hidden="true"></i>
                <span class="sr-only">Link to Xing</span>
            </a>
        </li>
    </ul>
</footer>
