<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <a href="{% url "events:upcoming" %}" class="navbar-brand">Nichetix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url "users:detail" %}" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "checkout:order-list" %}" class="nav-link">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "tickets:tickets" %}" class="nav-link">My Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "account_logout" %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url "account_signup" %}" class="nav-link">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "account_login" %}" class="nav-link">Login</a>
                    </li>
                {% endif %}

                {% if request.user.can_host %}
                    <li class="nav-item">
                        <a href="{% url "events:create" %}" class="nav-link">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "events:manage" %}" class="nav-link">Manage my Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "events:location-create" %}" class="nav-link">Create Location</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "events:locations" %}" class="nav-link">Manage my Locations</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{% url "cart:content" %}" class="nav-link">
                        {% if ticket_count > 0 %}
                            Shopping Cart
                        {% else %}
                            Shopping Cart(empty)
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
