{% extends "base.html" %}

{% block extra_title %}
    {{ user.username }}
{% endblock extra_title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Username: {{ user.username }}
            </h2>
            <div>
                <p>
                    Some real-life application process with clearance and enabling by the platform has to be
                    implemented here.
                </p>
                <p>
                    Toggle as user for assessment purposes.
                </p>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'users:apply_host' %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="card-footer">
                    <a href="{% url "users:detail" %}" class="btn btn-nichetix">
                        Back
                    </a>
                    <button type="submit" class="btn btn-nichetix">Apply</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
