{% extends "base.html" %}

{% block extra_title %}
    {{ user.username }}
{% endblock extra_title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                User: {{ user.username }}
            </h2>

            <form class="form-horizontal" method="post" action="{% url "users:update" %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="card-footer">
                    <a href="{% url "users:detail" %}" class="btn btn-nichetix">
                        Back
                    </a>

                    <button class="btn btn-nichetix" type="submit">
                        Update
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}
