{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_title %}
    {{ user.username }}
{% endblock extra_title %}

{% block content %}
  <h2>Username: {{ user.username }}</h2>
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit">Update</button>
            </div>
        </div>
    </form>
{% endblock content %}
