{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_title %}
    {{ object.title }}
{% endblock extra_title %}

{% block content %}

  <h2> {{ object.title }}</h2>
    <form class="form-horizontal" method="post" action="{% url "events:update" object.slug %}">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit">Update</button>
            </div>
        </div>
    </form>

{% endblock content %}
