{% extends "base.html" %}

{% block extra_title %}
    {{ object.title }}
{% endblock extra_title%}

{% block content %}

    <h2>{{ object.title }}</h2>
    <div>
        <p> {{ object.description_short }}</p>
        <p>Date start: {{ object.date_start }}</p>
        <p>Date end: {{ object.date_end }}</p>
        <p>Location: {{ object.location }}, {{ object.location.foreign_url }}</p>
        <p>Host: {{ object.description_host }}</p>
        <p>Description: {{ object.description_long }}</p>
        <p>Event url: {{ object.foreign_url }}</p>
        <p>Image: {{ object.image }}</p>
        <p>Image URL: {{ object.image_url }}</p>

        {% if request.user.id != object.host_id %}
            {% for ticket_type in ticket_type_list %}
                <div>
                    <h3>{{ ticket_type.name }}</h3>
                    <p>{{ ticket_type.description_long }}</p>
                    <p>Price: {{ ticket_type.price }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if request.user.id == object.host_id %}

        <div>
            <a href="{% url "events:update" object.slug %}">Update event information</a>
            <a href="{% url "tickets:ticket-type-create" object.slug %}">Add ticket type</a>
        </div>

        {% for ticket_type in ticket_type_list %}
            <div>
                <h4>{{ ticket_type.name }}</h4>
                <p>Sale start: {{ ticket_type.sale_start }}</p>
                <p>Sale end: {{ ticket_type.sale_end }}</p>
                <p>Quota: {{ ticket_type.quota }}</p>
                <p>Price, net: {{ ticket_type.price_net }}</p>
                <p>Tax: {{ ticket_type.tax }}</p>
                <p>Price: {{ ticket_type.price }}</p>
                <a href="{% url "tickets:ticket-type-detail" slug=ticket_type.slug event_slug=ticket_type.event.slug %}">
                    Detail
                </a>
                <a href="{% url "tickets:ticket-type-update" slug=ticket_type.slug event_slug=ticket_type.event.slug %}">
                    Update
                </a>
            </div>
        {% endfor %}

    {% endif %}

{% endblock content %}
