{% extends "base.html" %}

{% block extra_title %}
    Upcoming events
{% endblock extra_title%}

{% block content %}

    <h2>Upcoming Events</h2>
    {% for event in event_list %}
        <div>
            <h3>{{ event.title }}</h3>
            <p>Date start: {{ event.date_start }}</p>
            <p>Date end: {{ event.date_end }}</p>
            <a href="{% url "events:detail" event.slug %}">Details</a>

        {% if request.user == event.host %}
                <a href="{% url "events:update" event.slug %}">Update event information</a>
                <a href="{% url "events:detail" event.slug %}">Todo: Add ticket types</a>
        {% endif %}

        </div>
    {% endfor %}

{% endblock content %}
