{% extends "base.html" %}

{% block extra_title %}
    {{ object.name }}
{% endblock extra_title%}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ object.name }}</h2>

            <div>
                <p>{{ object.name }}</p>
                {% if object.street_address1 %}
                    <p>{{ object.street_address1 }}</p>
                {% endif %}
                {% if object.street_address2 %}
                    <p>{{ object.street_address2 }}</p>
                {% endif %}
                {% if object.town_or_city %}
                    <p>{{ object.postcode }} {{ object.town_or_city }}</p>
                {% endif %}
                {% if object.county %}
                    <p>{{ object.county }}</p>
                {% endif %}
                {% if object.country %}
                    <p>{{ object.country }}</p>
                {% endif %}
            </div>

            <div>
                {% if object.phone_number %}
                    <p>Phone Number: {{ object.phone_number }}</p>
                {% endif %}
                {% if object.email %}
                    <p>Email: {{ object.email }}</p>
                {% endif %}

                {% if object.foreign_url %}
                    <p>
                        <a href="{{ object.foreign_url }}" target="_blank" rel="noopener noreferrer">
                            {{ object.foreign_url }}
                        </a>
                    </p>
                {% endif %}
            </div>

        {% if request.user.id == object.owner_id %}
            <div class="card-footer">
                <a href="{% url "events:location-update" object.slug %}" class="btn btn-nichetix">
                    Update Location
                </a>
                <a href="{% url "events:location-delete" slug=object.slug %}"
                   class="btn btn-nichetix-danger">
                    Delete
                </a>
            </div>
        {% else %}
            <div class="card-footer">
                <a href="{% url "events:upcoming" %}" class="btn btn-nichetix">
                    Back to upcoming events
                </a>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock content %}
